services:
  # Redis
  redis:
    image: redis:7-alpine
    container_name: medusa_redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    networks:
      - medusa_network

  # Medusa Server
  # This service runs the Medusa backend application
  # and the admin dashboard.
  medusa:
    build: .
    container_name: medusa_backend
    restart: unless-stopped
    extra_hosts:
      - 'host.docker.internal:host-gateway' # CRITICAL FOR LINUX
    depends_on:
      - redis
    ports:
      - '9000:9000'
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - medusa_network

networks:
  medusa_network:
    driver: bridge
